<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{hora}}


<button class="foo", id="btnTest"> cambiar </button>
<a id="aaa">{{hora}}</a>

<form method="post" action="/pruebaaas3/">
    {% csrf_token %}

    {{form}}
    <button type="submit" id="submit" class="btn-block">Registrarse</button>

</form>

<div id="aaa1">
    <a id="aaa11">{{hora}}</a>
</div>





</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>

    $('.foo').click(function() {

        $.ajax({
          url: "http://127.0.0.1:8000/pruebaaas2/",
          success: function(data) {
            console.log(data)
            $('#aaa').html(data['hora']);
            $('#aaa1').html(data);
          }
        });

    });

</script>
