{% extends 'layout.html' %} {%block body%}
{% load static %}

<div class="container-fluid px-1 py-5 mx-auto">
  <a class="navbar-brand" href="#">Tiendas M&M</a>

  
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <h3 class="text-center mb-4">Regístrate</h3>

        <form method="post" class="form-card">
          {% csrf_token %}


          <div class="row">
            <div class="col">
              <label for="form-control" class="form-label">Seudónimo</label>
              {{form.username}}
            </div>
            <div class="col">
              <label for="form-control" class="form-label">Correo Electrónico</label>
              {{form.email}}
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="form-control" class="form-label">Primer Nombre</label>
              {{form.nombre}}
            </div>
            <div class="col">
              <label for="form-control" class="form-label">Segundo Nombre</label>
              {{form.apellido}}
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="form-control" class="form-label">Contraseña</label>
              {{form.password1}}
            </div>
            <div class="col">
              <label for="form-control" class="form-label">Repetir Contraseña</label>
              {{form.password2}}
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h4 class = "form-label">Información Adicional</h4>   
          <link rel="stylesheet" href="{% static 'build/css/countrySelect.css' %}">
          <input class="form-control" name="region" type="text" id="country"/>
          <input type="hidden" id="country_code" />
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
          <script src="{% static 'build/js/countrySelect.min.js' %}"></script>
          <script>$("#country").countrySelect();</script>
          {{form.sexo}}
        </div>

        <div class="col">
          <label for="form-control" class="form-label">Edad</label>
          {{form.edad}}
        </div>

      </div>
         <br>
      <div class="btn-container">
        <button type="submit" id="submit" class="btn-block">Registrarse</button>
      </div>

          </div>

        </form>
    </div>
  </div>
</div>



<style>

  .form-label {
    margin-top: 10px;
  }

  header {
   background-color: #ee0290;
   padding: 20px 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@600&display=swap');
.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  display: inline-block;
  margin: 10px 20px 10px 40px;
  color: #fff;
}

  body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color:  #ee0290;
    background-size: 100% 100%;
  }

  .btn-block {
    background-color: #6002EE;
    color: #fff;
  }

  .card {
    margin-top: 60px;
    padding: 30px 40px;
    border-radius: 1%;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    align-content: center;
  }

  .blue-text {
    color: #6002EE;
  }


  input,
  textarea,
  button,
  select {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
  }

  input:focus,
  textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid  #6002EE;
    outline-width: 0;
    font-weight: 400;
  }

  .btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
  }

  .btn-block:hover {
    color: #fff !important;
  }

  button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
  }

.card label {
text-align: top;
}

.card h4 {
font-size: 16px;
margin-bottom: 13px;
}

.btn-container {
display: block;
}

.user {

  height: 40px;

}

</style>


{%endblock%}
